@media (max-width: 375px ){
    .collapse:not(.show){
        display: none;
    }
    ul{
        text-align:end ;
    }
    section#projects {
      height: 260vh !important;
}

    html,body{
        width: 100%;
        overflow-x: hidden;
    }
}
@media (max-width:522px){
    section#projects{
        height:240vh;

    }
    .d-flex{
      
        flex-direction: column !important;
        
       

    }
    .beat{
        padding-bottom: 20px;
    }
    
}