html,body{
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-left: 0;
    margin-right: 0;
   

}

.logo{
    border-radius: 20px;
    border-color: azure;
}
body{
    font-family: 'Teko', sans-serif;
    font-size: 24px;
    overscroll-behavior-x: none !important;

}

.hm-home{
    color: rgb(210, 61, 96) !important;

}
.nav-bio{
    color: rgb(210, 61, 96) !important;

}
.nav-contact{
    color: rgb(210, 61, 96) !important;

}
.nav-projects{
    color: rgb(210, 61, 96) !important;

}
.navbar ul li a:hover{
    background:white;
    border-radius: 2px;
}
.navbar-brand img{
    height: 145px;


}
#display{
    background:url('../imgs/coverr.png.jpg')
     no-repeat center/cover;
     background-attachment: fixed;
     height: 100vh;
     color: white;
     opacity: 0.9;
}
.explain{
    padding-bottom: 45px;
    font-family: 'Teko', sans-serif;
    font-size:65px;
    text-align: center;
    padding-top: 20rem;

 }
 #container{
    text-align: center;
}
.btn-sm{

    padding: 0.5rem 2rem;
    font-size: 26px;
    font-family: 'Teko', sans-serif;
    text-align: right;
    border-radius: 10px;



 }

 section#about{
    background-color: rgb(255, 254, 254);
    background-attachment: fixed;
}
section#projects{

    background: url('../imgs/macbook-air-apple-pen-notes-7377.jpg')no-repeat
    center/cover;
    background-attachment: fixed;
    height: 100vh;

}
section#achievements{

    background:url("../imgs/accomplishment-accuracy-accurate-achievement-226579.jpg")
    no-repeat center/cover;
    background-attachment: fixed;
    height: 100vh;
}
section{
    padding-bottom: 5px;
}
.container{
    text-align: center;
}
.container-two{
    text-align: center;
}
.container-three{
    text-align: center;
}
.container-four{
    text-align: center;
}
.card-body{
    background-color: rgba(248, 234, 234, 0.849);
}
.beat{
    padding-bottom: 15px;
}
#achiv{
    color:white;
}
.year{
    color: white;
}
.fa-trophy{
    color: gold;

}
.nav-item{
    text-align: end;
}
